.payment-information-form_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.payment-information-form_input {
  grid-column: span 2;
}

.payment-information-form_input__narrow {
  grid-column: span 1;
}

.payment-information-form_submit {
  grid-column: span 2;
  width: 100%;
}
