.button {
  background-color: var(--color-button-primary);
  color: var(--color-white);
  padding: 12px 40px;
  border-radius: 12px;
  font-size: var(--font-size-sm);
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  border: none;
  cursor: pointer;
}
