.payment-confirmation_container {
  font-family: var(--font-family-emphasis);
  font-size: var(--font-size-xl);
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  padding-top: 56px;
  color: var(--color-text-emphasis);
}
